doctype html
html
    head
        title Node.js
        link(rek='stylesheet', href='/css/style.css')
        script(src='http://code.jquery.com/jquery-2.1.0.min.js')
        script(src='/js/main.js')
    body
        block content